<div class="user-header">
                <h1><span class="app-title">On My Plate</span>: User Home</h1>

                <h3>Your email address: <span class="user-field"><%= @user.email %></span></h3>
                <h3>Your username: <span class="user-field"><%= @user.username %></span></h3>
</div>

<div class="user-content">

<h3>TO-DO Items</h3>
<table class="table table-bordered table-condensed my-item-list">
        <thead>
                <tr>
                        <th>#</th>
                        <th>To do item</th>
                        <th>Expires</th>
                        <th>Mark as completed</th>
                </tr>
        </thead>
        <tbody>
                <%= render @user.items %>
        </tbody>
</table>
<% if current_user %>
        <br/>
        <h4>Add new to-do item</h4>
        <table class="table table-bordered table-condensed my-item-list">
        <tbody>
               <%= render 'items/form', item: Item.new, user: @user %>
        </tbody>
        </table>
        
<% end %>
</div>
    
