<div class="welcome">
    <div class="app-title">On My Plate</div>
    <div class="app-description">A to-do list that automatically clears itself of old items, to keep you focused on what's really important!</div>
