<%= form_for item, html: { class: 'form-inline my-form col-10' } do |f| %>
   <div class="form-group row">
     <%= f.label :name, class: 'sr-only' %>
     <%= f.text_field :name, class: 'form-control my-wide-form', placeholder: "TO-DO" %>
     <%= f.submit "Create Item", class: 'btn btn-default pull-right my-sized-button' %>
   </div>
   
 <% end %>