 <%= content_tag :div, class: 'media row', id: "item-#{item.id}" do %>
      <div class="col-md-8">
   <span class="glyphicon glyphicon-asterisk bullet"></span>
   <span><%= item.name %></span>  
   <%= link_to '<i class="glyphicon glyphicon-ok"></i> Mark it as completed'.html_safe, item, class: :checkmark, method: :delete, data: { confirm: 'Are you sure you want to mark this item as done?' } %>
      </div>
 <% end %>
