<li class="list-group-item row">
    <div>
        <strong><%= item.name %></strong>
        <em>(Remaining time: <%= time_til_expiration(item.created_at + 7.days) %>)</em>
        <%= link_to "", item, method: :delete, class: 'glyphicon glyphicon-ok delete_item', remote: true, data: { confirm: 'Are you sure you want to mark this item as done?' }, :title => 'Mark complete', 
        :rel => 'tooltip', "data-placement" => "bottom" %>
    </div>
</li>
    
